@font-face {
  font-family: Monsterrat;
  src: url("fonts/Montserrat-Medium.ttf");
}


@font-face {
  font-family: Monsterrat;
  src: url("fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
}

html, body {
  overflow-x: hidden;
}

body {
    font: 20px "Monsterrat", sans-serif;
    color: white;
    background-color: rgb(0,0,255);
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;

}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

button{
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 2rem;
  border-width: 0.3rem;
  border-style: solid;
  font: 1.3rem "Monsterrat", sans-serif;
  padding: 0.6rem 1rem 0.6rem 1rem;
  outline:none;
}

.pageTransition-enter{
  opacity: 0.01;
  left: 100vw;
}
.pageTransition-enter .eyeContainer{
  position: fixed;
  top: 30vh;
  left: 0vh;
  transition: all 700ms;
}

.pageTransition-enter-active{
  opacity: 1;
  left: 0;
  transition: all 700ms;
}
.pageTransition-enter-active .eyeContainer{
  position: fixed;
  top: 10vh;
  left: 0vh;
  transition: all 700ms;
}
.pageTransition-enter-done .eyeContainer{
    position: fixed;
    top: 10vh;
    left: 0vh;
    transition: all 700ms;
}

.pageTransition-exit{
  left: 0;
  opacity: 1;
}

.pageTransition-exit .eyeContainer{
  position: fixed;
  top: 30vh;
  left: 0vh;
  transition: all 700ms;
}
.pageTransition-exit-active{
  opacity: 0.01;
  left: -100vw;
  transition: all 700ms;
}
.pageTransition-exit-active .eyeContainer{
  position: fixed;
  top: 10vh;
  left: 0vh;
  opacity: 1!important;
  transition: all 700ms;
}



.eyeContainer{
  position: fixed;
  top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100vw;
  transition: all 700ms;
}

.eye {
  height: 4rem;
  width: 4rem;
  border: solid 0.4rem #FFF;
  border-radius:  75% 3%;
  position: relative;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.pupil{
  transform: rotate(17deg);
  /* background: #CCC; */
  /* background: transparent; */
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  /* cant do transition because it loops round, maybe try fix */
  transition: all 300ms;
}
.pupil:after { /*pupil*/
  position: absolute;
  bottom: 1.4rem;
  right: 0.8rem;
  width: 1.5rem;
  height: 1.4rem;
  /* background: white; */
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 0.4rem solid white;
  border-radius: 50%;
  content: " ";
}

.answerContainer{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.answerLabel{
  /* background-color: rgb(50, 50, 255); */
  width: 20rem;
  height: 8rem;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.3rem;
  border-radius: 2rem;
  border-color: white;
  border-style: solid;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
transition: background-color 500ms;
}

.answerLabel:active{
  background-color: rgb(100, 100, 255);
}

.answerLabel:hover{

  background-color: rgb(40, 40, 255);
}

.hidden{
  display: none;
}
