@font-face {
  font-family: Monsterrat;
  src: url("fonts/Montserrat-Medium.ttf");
}


@font-face {
  font-family: Monsterrat;
  src: url("fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
}

html, body {
  overflow-x: hidden;
}

body {
    font: 14px "Monsterrat", sans-serif;
    color: white;
    background-color: rgb(0,0,255);
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;

}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

button{
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 2rem;
  border-width: 0.3rem;
  border-style: solid;
  font: 1.3rem "Monsterrat", sans-serif;
  padding: 0.6rem 1rem 0.6rem 1rem;
  outline:none;
}

.pageTransition-enter{
  opacity: 0.01;
  left: 100vw;
}

.pageTransition-enter-active{
  opacity: 1;
  left: 0;
  transition: all 700ms;
}

.pageTransition-exit{
  left: 0;
  opacity: 1;
}
.pageTransition-exit-active{
  opacity: 0.01;
  left: -100vw;
  transition: all 700ms;
}
